<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Ajout d'un exemplaire</title>
</head>
<body>
	<h1>La crypte du jeu</h1>
	<div>
		<h2>Formulaire d'ajout d'exemplaire de jeu</h2>
	</div>

	<!-- Affichage des messages globaux -->

	<span th:text="${erreur}" style="color: red"></span>
	<form
		th:action="@{/jeu/{numeroJeu}/ajouterExemplaire(numeroJeu=${numeroJeu})}"
		method="post" th:object="${exemplaire}">
		<div>
			<label for="codebarre">Code Barre : </label> <input type="text"
				th:field="*{codebarre}" id="codebarre">
		</div>
		<br> <br>
		<div>

			<label for="louable">Disponibilité :</label><br> <input
				type="radio" id="louable-oui" name="louable" th:field="*{louable}"
				value="true" /> <label for="louable-oui">Oui</label> <input
				type="radio" id="louable-non" name="louable" th:field="*{louable}"
				value="false" /> <label for="louable-non">Non</label>
		</div>
		<br>
		<button>Valider</button>
	</form>
</body>
</html>