<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>La crypte du jeu</title>
</head>
<body>
	<h1>La crypte du jeu</h1>
	<div>
	
	
		<div>
		<h2>Liste des clients enregistrés avec leur numéro de client</h2>
		<table>
			<tr th:each="client : ${clients}">
			<td th:text="${client.numeroClient}"></td>
				<td><a
					th:href="@{/client/{numeroClient}(numeroClient=${client.numeroClient})}"
					th:text="${client.nom +' '+ client.prenom}"></a></td>

				
			</tr>
		</table>
	</div>
	
		<h2>Formulaire d'inscription</h2>
		<form action="/ajoutClient" method="post" th:object="${client}">
			<div>
				<label for="nom">Nom : </label> <input type="text" th:field="*{nom}"
					id="nom">
			</div>
			<br>
			<div>
				<label for="prenom">Prenom : </label> <input type="text"
					th:field="*{prenom}" id="prenom">
			</div>
			<br>
			<div>
				<label for="email">Email : </label> <input type="text"
					th:field="*{email}" id="email">
			</div>
			<br>
			<div>
				<label for="rue">Rue : </label> <input type="text" th:field="*{rue}"
					id="rue">
			</div>
			<br>
			<div>
				<label for="codePostal">Code postal : </label> <input type="text"
					th:field="*{codePostal}" id="codePostal">
			</div>
			<br>
			<div>
				<label for="ville">Ville : </label> <input type="text"
					th:field="*{ville}" id="ville">
			</div>
			<br>
			<div>
				<label for="telephone">Telephone : </label> <input type="text"
					th:field="*{telephone}" id="telephone">
			</div>
			<br>

			<button>Valider</button>
		</form>
	</div>


	
</body>
</html>